<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:component-scan base-package="org.zerock">
    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
<!--org.zeock안에 있는 어노테이션 been 객체 생성 하지만 dispatcher에 controller 존재 하므로 exclude사용하여 controller을 가진 애들은 생성하지
않겠다는 선언을 한다. -->
    </context:component-scan>
    <context:component-scan base-package="org.zerock.aop"></context:component-scan>
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--SampleServiceImpl 클레스와 LogAdvie는 스프링의 빈(객체)으로 등록될것 이고 aop:aspectj-autoproxy를 이용해서 LogAdvice에
    설정한 before가 동작한다.  -->
</beans>